#custom-scanning-text {
  position: absolute;
  padding: 15px;
  top: 45%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  height: 20%;
  background-color: rgba(25, 25, 35, 0.45);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  z-index: 999;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
}

#custom-scanning-overlay.hidden {
    display: none;
}

.scanner {
  position: absolute;
  top: -20%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  height: 30%;
  background-color: rgba(25, 25, 35, 0.0);
  border: 2px dashed rgba(255, 255, 255, 0.45);
  border-radius: 20px;
}

.scanner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.45), 0 0 20px rgba(255, 255, 255, 0.45);
  animation: scan 2s linear infinite;
}

@keyframes scan {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}

.scanning-content {
  margin: auto;
  text-align: center;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

#custom-scanning-overlay h1 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

#custom-scanning-overlay p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 30px;
  color: #e0e0e0;
  font-weight: 400;
}

@media (max-width: 480px) {
  #custom-scanning-overlay {
    width: 90%;
    min-height: 250px;
    padding: 15px;
  }
  
  #custom-scanning-overlay h1 {
    font-size: 24px;
  }
  
  #custom-scanning-overlay p {
    font-size: 14px;
  }
}